<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
       <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <script src="https://kit.fontawesome.com/cfaaf9864a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/Pages/about.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
              <a href=""> <img src="{% static 'images/logo-black.svg' %}"></a>


        </div>
        <div class="links">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>
                    <a href='#'>Pages <img src="{% static 'images/icons8-expand-arrow-24.png' %}" alt="icon"></a>
                    <ul class="dropdown">
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'home' %}">Meet theTeam</a></li>
                        <li><a href="{% url 'home' %}">Careers</a></li>
                        <li><a href="{% url 'apply' %}">Apply For Loan</a></li>
                    </ul>
                </li>
                <li><a href='#'>Services <img src="{% static 'images/icons8-expand-arrow-24.png' %}" alt="icon"></a>
                    <ul class="dropdown">
                        <li><a href="{% url 'personal' %}">Personal Loans</a></li>
                        <li><a href="{% url 'business' %}">Business Loans</a></li>
                        <li><a href="{% url 'mortgage' %}">Mortgage Loans</a></li>
                        <li><a href="{% url 'emergency' %}">Emergency Loans</a></li>
                        <li><a href="{% url 'student' %}">Student Loans</a></li>
                        <li><a href="{% url 'small' %}">Small Business Loans</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>

        </div>
        <div class="cons">
            <a href=""><i class="fa-solid fa-magnifying-glass search"></i>
            </a>
            <a href="">
                <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/1A1A1A/ringer-volume.png"
                    alt="ringer-volume" />
                <p>+1020-098-456</p>
            </a>

        </div>
    </div>

    <div class="show">
        <div class="img">
            <img src="{% static 'images/Contact/contact-bg.jpg' %}">
        </div>
        <div class="text">
            <h2>About Us</h2>
            <div class="bel">
                <a href="{% url 'home' %}">
                    <h4>Home</h4>
                </a>
                <p>></p>

                <h4>About Us</h4>

            </div>
        </div>
    </div>

    <div class="footer">
        <div class="left">
            <ul>
                <li>
                    <p>Call us</p>
                    <a href="">+1.098.456.11</a>
                </li>
                <li>
                    <p>Our Location</p>
                    <h4>Suite 794 49823 Glover Fields, North Leighaport, MO 42769-8902</h4>
                </li>
                <div class="btm">
                    <li>
                        <p>Our Mail</p>
                        <a href="">help@company.com</a>
                    </li>
                </div>
            </ul>

        </div>
        <div class="right">
            <div class="service d-flex">
                <div class="mg-sides">
                    <h3>Services</h3>
                    <li class="mg-top">
                        <a href="{% url 'personal' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            Personal Loans
                        </a>
                    </li>
                    <li class="mg-top">
                        <a href="{% url 'business' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            Business Loans
                        </a>
                    </li>
                    <li class="mg-top">
                        <a href="{% url 'mortgage' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            Mortgage Loans
                        </a>
                    </li>
                    <li class="mg-top">
                        <a href="{% url 'emergency' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            Emergency Loans
                        </a>
                    </li>
                    <li class="mg-top">
                        <a href="{% url 'student' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            Student Loans
                        </a>
                    </li>
                    <li class="mg-top">
                        <a href="{% url 'small' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            Small Business Loans
                        </a>
                    </li>
                </div>
            </div>
             <div class="page d-flex">
                <div class="mg-sides">
                    <h3>Page</h3>
                    <li class="mg-top">
                        <a href="{% url 'about' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            About Us
                        </a>
                    </li>
                    <li class="mg-top">
                        <a href="{% url 'faq' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            FAQs
                        </a>
                    </li>
                    <li class="mg-top">
                        <a href="{% url 'careers' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            Careers
                        </a>
                    </li>
                    <li class="mg-top">
                        <a href="{% url 'apply' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            Apply a Loan
                        </a>
                    </li>
                    <li class="mg-top">
                        <a href="{% url 'contact' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            Contact Us
                        </a>
                    </li>
                    <li class="mg-top">
                        <a href="{% url 'meet' %}">
                            <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                alt="forward" />
                            Meet The Team
                        </a>
                    </li>
                </div>
            </div>

            <div class="sub">
                <img src="{% static 'images/logo.png' %}">

                <h4>Subscribe To Newsletter</h4>
                <p>
                    Stay up-to-date with the latest trends in digital marketing and receive i’ve
                    tips and insights by subscribing to our.
                </p>
                <form action="">
                    <input type="email" placeholder="Your Email Address">
                    <button type="submit">
                        <a href="">
                            <i class="fa-solid fa-arrow-right arrow"></i>
                        </a>
                    </button>
                </form>


            </div>

        </div>
    </div>
    <div class="foott">
        <div class="lll">
            <div class="mmm">
                <p>© Copyright loanlift. All rights reserved</p>
            </div>
            <div class="nnn">
                <ul>
                    <li><a href="{% url 'term' %}">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>