{% extends 'base.html' %}
{% load static %}

    {% block title %}<title>Blog</title>{% endblock title %}
      
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock head %}

    {% block content %}
    <div class="show">
        <div class="img">
            <img src="{% static 'images/blog-hero-bg.jpg' %}">
        </div>
        <div class="text">
            <h2>Blog</h2>
            <div class="bel">
                <a href="{% url 'home' %}">
                    <h4>Home</h4>
                </a>
                <p>></p>

                <h4>Blog</h4>

            </div>
        </div>
    </div>

    <div class="cardcontainer">
        <div class="card">
            <img src="{% static 'images/blog-image-1.jpg' %}" alt="card1">
            
            <div class="date">
                <p>By Admin</p>
                <p>On 17 jan 2025</p>
            </div>

            <div class="text">
                <p>Achieving Financial Freedom: Loanlift Proven Strategies</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/blog-image-1.jpg' %}" alt="card1">
            
            <div class="date">
                <p>By Admin</p>
                <p>On 17 jan 2025</p>
            </div>

            <div class="text">
                <p>Achieving Financial Freedom: Loanlift Proven Strategies</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/blog-image-1.jpg' %}" alt="card1">
            
            <div class="date">
                <p>By Admin</p>
                <p>On 17 jan 2025</p>
            </div>

            <div class="text">
                <p>Achieving Financial Freedom: Loanlift Proven Strategies</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/blog-image-1.jpg' %}" alt="card1">
            
            <div class="date">
                <p>By Admin</p>
                <p>On 17 jan 2025</p>
            </div>

            <div class="text">
                <p>Achieving Financial Freedom: Loanlift Proven Strategies</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/blog-image-1.jpg' %}" alt="card1">
            
            <div class="date">
                <p>By Admin</p>
                <p>On 17 jan 2025</p>
            </div>

            <div class="text">
                <p>Achieving Financial Freedom: Loanlift Proven Strategies</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/blog-image-1.jpg' %}" alt="card1">
            
            <div class="date">
                <p>By Admin</p>
                <p>On 17 jan 2025</p>
            </div>

            <div class="text">
                <p>Achieving Financial Freedom: Loanlift Proven Strategies</p>
            </div>
        </div>
    </div>
    {% endblock content %}
