<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Ease</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <script src="https://kit.fontawesome.com/cfaaf9864a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <div class="Container">
        <div class="container-main">
            <div class="bg-slide" id="bg2"></div>
            <div class="bg-slide" id="bg1"></div>

            <div class="navbar">
                <div class="topbar1">
                    <span><a href="{% url 'home' %}"><img src="{% static 'images/Logo.jpg' %}" alt="icon"><b>LOAN
                                EASE</b></a>
                    </span>
                </div>

                <div class="topbar2">
                    <nav class="main nav">
                        <div class="container1">

                            <div class="cons">
                                <span><i class="fa-solid fa-location-dot"></i> 28 Valencia Street, New York</span>
                                <span><i class="fa-solid fa-envelope"></i></i> help@company.com</span>
                                <span><i class="fa-solid fa-phone"></i> +1200-984-561</span>
                            </div>


                            <div class="socials">
                                <span><a href=""><i class="fa-brands fa-facebook"></i></a></span>
                                <span><a href=""><i class="fa-brands fa-twitter"></i></a></span>
                                <span><a href=""><i class="fa-brands fa-instagram"></i></a></span>
                                <span><a href=""><i class="fa-brands fa-linkedin"></i></a></span>
                            </div>
                        </div>

                        <div class="container2">
                            <ul class="nav-links">

                                <li>
                                    <a href="{% url 'home' %}"><b>Home</b></a>
                                </li>


                                <li>
                                    <a href='#'><b>Pages</b> <img src="{% static 'images/icons8-expand-arrow-24.png' %}"
                                            alt="icon"></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                                        <li><a href="{% url 'meet' %}">Meet theTeam</a></li>
                                        <li><a href="{% url 'careers' %}">Careers</a></li>
                                        <li><a href="{% url 'apply' %}">Apply For Loan</a></li>
                                    </ul>
                                </li>


                                <li>
                                    <a href='#'><b>Services</b> <img
                                            src="{% static 'images/icons8-expand-arrow-24.png' %}" alt="icon"></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'personal' %}">Personal Loans</a></li>
                                        <li><a href="{% url 'business' %}">Business Loans</a></li>
                                        <li><a href="{% url 'mortgage' %}">Mortgage Loans</a></li>
                                        <li><a href="{% url 'emergency' %}">Emergency Loans</a></li>
                                        <li><a href="{% url 'student' %}">Student Loans</a></li>
                                        <li><a href="{% url 'small' %}">Small Business Loans</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'portfolio' %}"><b>Portfolio</b></a>
                                </li>
                                <li>
                                    <a href="{% url 'blog' %}"><b>Blog</b></a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}"><b>Contact Us</b></a>
                                </li>

                            </ul>

                            <div class="start">

                                <i class="fa-solid fa-magnifying-glass search" id="searchIcon"></i>

                                <div class="get-started-btn">
                                    <a href="{% url 'signup' %}">
                                        Get Started
                                        <span><i class="fa-solid fa-arrow-right arrow"></i></span>
                                    </a>
                                </div>

                            </div>
                            <div id="searchOverlay" class="overlay">
                                <span id="closeSearch" class="close-btn">×</span>
                                <div class="panel">
                                    <div class="search-box">
                                        <input type="text" placeholder="Search here">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>


            <div class="boxx">
                <div class="Evaluate">
                    <div class="text-container">
                        <div class="head1">
                            <h2>Evaluate Your Financial
                                Future with Loan Ease</h2>
                        </div>
                        <div class="text1">
                            <p>We are offering a range of expert services designed to support your financial journey and
                                business
                                success.
                                Our consultancy includes tailored financial planning, strategic business advice.
                            </p>
                        </div>
                    </div>
                    <div class="contact-btn">
                        <a href="{% url 'contact' %}">
                            Contact Us
                            <i class="fa-solid fa-arrow-right arrow"></i>
                        </a>
                    </div>

                </div>
                <div class="Partner">
                    <div class="text-container">
                        <div class="head1">
                            <h2>Your partner Financial Growth Success</h2>
                        </div>
                        <div class="text1">
                            <p>We are offering a range of expert services designed to support your financial journey and
                                business
                                success.
                                Our consultancy includes tailored financial planning, strategic business advice.
                            </p>
                        </div>
                    </div>
                    <div class="contact-btn">
                        <a href="{% url 'contact' %}">
                            Contact Us
                            <i class="fa-solid fa-arrow-right arrow"></i>
                        </a>
                    </div>

                </div>
            </div>


        </div>
        <div class="Sub-Container1">

            <div class="headbox">
                <div class="ourservice">
                    <p>OUR SERVICES</p>
                </div>
                <div class="head2-sub1">
                    <h3>Comprehensive financial solutions tailored to your needs</h3>
                </div>
            </div>

            <div class="service-container">
                <div class="service-box">
                    <div class="icon">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/get-cash--v1.png"
                            alt="get-cash--v1" />
                    </div>
                    <div class="info">
                        <h4>Personal Loans</h4>
                        <p>Our Personal Loans offer flexible terms and competitive rates, tailored to meet your
                            individual needs.</p>
                    </div>
                    <div class="arrow">
                        <a href="{% url 'personal' %}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="service-box">
                    <div class="icon">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/money-time.png"
                            alt="money-time" />
                    </div>
                    <div class="info">
                        <h4>Emergency Loans</h4>
                        <p>Quick and reliable emergency loans, providing fast access to funds when you need them most.
                            Apply now for instant relief.</p>
                    </div>
                    <div class="arrow">
                        <a href="{% url 'emergency' %}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="service-box">
                    <div class="icon">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/money-bag-rupee.png"
                            alt="money-bag-rupee" />
                    </div>
                    <div class="info">
                        <h4>Business Loans</h4>
                        <p>Empower your business with our flexible financing options. Tailored to meet the unique needs
                            of your enterprise.</p>
                    </div>
                    <div class="arrow">
                        <a href="{% url 'business' %}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="service-box">
                    <div class="icon">
                        <img width="48" height="48"
                            src="https://img.icons8.com/pulsar-line/48/education-fees-payment.png"
                            alt="education-fees-payment" />
                    </div>
                    <div class="info">
                        <h4>Student Loans</h4>
                        <p>Student loans open doors to education but can also become a heavy financial burden if not
                            managed wisely. Plan carefully.</p>
                    </div>
                    <div class="arrow">
                        <a href="{% url 'student' %}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="service-box">
                    <div class="icon">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/mortgage.png" alt="mortgage" />
                    </div>
                    <div class="info">
                        <h4>Mortgage Loans</h4>
                        <p>Secure your dream home with our competitive mortgage loans. Enjoy flexible terms, low
                            interest rates</p>
                    </div>
                    <div class="arrow">
                        <a href="{% url 'mortgage' %}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="service-box">
                    <div class="icon">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/giving.png" alt="giving" />
                    </div>
                    <div class="info">
                        <h4>Small Business Loans</h4>
                        <p>This content highlights the key benefits of your small business loan offerings, appealing to
                            entrepreneurs seeking financial support.</p>
                    </div>
                    <div class="arrow">
                        <a href="{% url 'small' %}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sub1foot">
                <div class="view-btn">
                    <a href="{% url 'viewmore' %}">
                        View More
                        <i class="fa-solid fa-arrow-right arrow"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="Sub-Container2">
            <div class="Image-left">
                <img src="{% static 'images/image left.jpg' %}" alt="image">
            </div>
            <div class="Information">
                <div class="headbox2">
                    <div class="whoweare">
                        <p>Who We Are</p>
                    </div>
                    <div class="head2-sub2">
                        <h3>Flexible quick and fast buisness loans</h3>
                    </div>
                </div>

                <div class="text3">
                    <p>
                        Get the funding you need with our flexible and quick business loans.
                        Tailored to meet your unique needs,our loans offer competitive rates and fast approval.
                        Empower your business to grow and thrive with the right financial support.
                    </p>
                    <div class="ftab">
                        <ul class="features">
                            <li>Robust data ensuring client privacy.</li>
                            <li>Expert assistance every step away.</li>
                            <li>User-friendly interface application.</li>
                            <li>Competitive rates to ease financial.</li>
                            <li>Customized loan plans unique needs.</li>
                            <li>Streamlined processes for approvals.</li>

                        </ul>
                    </div>
                </div>

                <div class="sub1foot2">
                    <div class="view-btn">
                        <a href="">
                            Get Started
                            <i class="fa-solid fa-arrow-right arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="calc">

                    <div class="header1">
                        <h3>
                            How much do you need?
                        </h3>
                    </div>
                    <div class="inputsum">
                        <div class="slides">
                            <!-- Loan Amount Slider -->
                            <div class="slider-container">
                                <div class="slider-label">
                                    <span class="min-value">₹10000</span>
                                    <span class="max-value">₹1000000</span>
                                </div>
                                <input type="range" min="10000" max="1000000" value="60000" class="custom-slider"
                                    id="loanAmount">
                                <div class="slider-value" id="loanAmountValue">₹60000</div>
                            </div>

                            <!-- Loan Term Slider -->
                            <div class="slider-container">
                                <div class="slider-label">
                                    <span class="min-value">1 Month</span>
                                    <span class="max-value">12 Month</span>
                                </div>
                                <input type="range" min="1" max="12" value="6" class="custom-slider" id="loanTerm">
                                <div class="slider-value" id="loanTermValue">6</div>
                            </div>

                            <!-- Payment Information -->
                            <div class="payment-info">
                                <div class="payment-row">
                                    <span>Pay Monthly</span>
                                    <span id="monthlyPayment">₹11500</span>
                                </div>
                                <div class="payment-row total">
                                    <span>Total Pay Back</span>
                                    <span id="totalPayback">₹69000</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer4">
                            <a href="{% url 'apply' %}">
                                Apply For Loan
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="Sub-Container3">
            <div class="lefttext">
                <div class="head5">
                    <div class="whychoose">
                        <p>Why choose</p>
                    </div>
                    <div class="text">
                        <h3>Your trusted partner for personalized loan solutions,
                            expert financial guidance</h3>
                    </div>

                </div>
                <div class="image5">
                    <img src="{% static 'images/sub3.jpg' %}">

                </div>
                <div class="foot5">
                    <div class="sec">
                        <div class="head">
                            <h4>
                                <img width="66" height="64"
                                    src="https://img.icons8.com/parakeet-line/48/FFFFFF/project-management.png"
                                    alt="project-management" />
                                <h6>Personalized Loan</h6>
                            </h4>

                        </div>
                        <div class="text">
                            We offer customized loan options tailored to
                            meet your specific financial requirements.

                        </div>

                    </div>
                    <div class="sec">
                        <div class="head">
                            <h4>
                                <img width="80" height="80" src="https://img.icons8.com/dotty/80/FFFFFF/warranty.png"
                                    alt="warranty" />
                                <h6>Competitive Rates</h6>
                            </h4>

                        </div>
                        <div class="text">
                            Benefit from loanlift competitive rates, designed
                            to make your loans more affordable.

                        </div>

                    </div>
                    <div class="sec">
                        <div class="head">
                            <h4>
                                <img width="66" height="66"
                                    src="https://img.icons8.com/doodle-line/66/FFFFFF/handshake.png" alt="handshake" />
                                <h6>Trusted Partner</h6>
                            </h4>
                        </div>
                        <div class="text">
                            With a commitment to transparency personalized
                            service, we work you every step of way.

                        </div>

                    </div>

                </div>

            </div>
            <div class="righttext">
                <ul class="col">
                    <li>
                        <h6>
                            25+
                        </h6>
                        <span>01</span>
                        <p>
                            Years of trusted expertise
                        </p>

                    </li>
                    <li>
                        <h6>
                            50k
                        </h6>
                        <span>02</span>
                        <p>
                            Loans approved
                        </p>

                    </li>
                    <li>
                        <h6>
                            10k
                        </h6>
                        <span>03</span>
                        <p>
                            Satisfied clients
                        </p>

                    </li>

                </ul>

            </div>


        </div>
        <div class="Sub-Container4">
            <div class="topsec">
                <div class="left">
                    <div class="process">
                        <p>Our Process</p>
                    </div>
                    <div class="head2-sub3">
                        <h3>Consultation successful loan approval process</h3>
                    </div>
                    <div class="text">
                        <p>
                            Our comprehensive process ensures a seamless journey from initial consultation to successful
                            loan approval.
                            Experience personalized guidance and expert support every step of the way.
                        </p>
                    </div>

                </div>
                <div class="right">
                    <img src="{% static 'images/process-video-thamb.jpg' %}">

                </div>

            </div>
            <div class="bottomsec">
                <div class="left">
                    <img src="{% static 'images/process-image.jpg' %}">


                </div>
                <div class="right">
                    <div class="aa">
                        <div class="top">
                            <img width="80" height="80"
                                src="https://img.icons8.com/ios/80/1A1A1A/smartphone-approve.png"
                                alt="smartphone-approve" />
                            <p>Application</p>

                        </div>
                        <div class="bottom">
                            <p>
                                Start by filling out our easy online application form.
                                Provide basic information about yourself and your financial needs.
                            </p>

                        </div>
                    </div>
                    <div class="aa">
                        <div class="top">

                            <img width="80" height="80" src="https://img.icons8.com/dotty/80/test-passed.png"
                                alt="test-passed" />
                            <p>Documentation</p>

                        </div>
                        <div class="bottom">
                            <p>
                                Upon approval, you'll receive clear instructions on the required documentation.
                                this may include income verification.
                            </p>

                        </div>
                    </div>
                    <div class="aa">
                        <div class="top">
                            <img width="80" height="80" src="https://img.icons8.com/dotty/80/thumb-up.png"
                                alt="thumb-up" />
                            <p>Approval</p>

                        </div>
                        <div class="bottom">
                            <p>
                                Once your application is reviewed, we aim to provide swift approval decisions.
                                Our goal is to get you approved.
                            </p>

                        </div>
                    </div>
                    <div class="aa">
                        <div class="top">
                            <img width="80" height="80"
                                src="https://img.icons8.com/external-bearicons-detailed-outline-bearicons/80/external-Money-Bag-business-and-marketing-bearicons-detailed-outline-bearicons.png"
                                alt="external-Money-Bag-business-and-marketing-bearicons-detailed-outline-bearicons" />
                            <p>Funding</p>

                        </div>
                        <div class="bottom">
                            After your documentation is verified and finalized, we initiate the funding process.
                            Funds are typically deposited.

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="Sub-Container5">

            <div class="upper">

                <div class="head">
                    <div class="pro">
                        <p>Our Process</p>
                    </div>
                    <div class="text">
                        <h6>
                            The team driving innovation and excellence in financial services
                        </h6>
                    </div>
                </div>
            </div>

            <div class="lower">
                <div class="trans">
                    <div class="box" data-image="1">
                        <div class="inner-box">
                            <h4>How loanLift supported in managing cash flow</h4>
                            <span>Home</span>
                            <p>Client name : Centric Lending</p>
                            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="box" data-image="2">
                        <div class="inner-box">
                            <h4>A case study on growth through loanLift financing</h4>
                            <span>Student</span>
                            <p>Client name : Debt Restructuring</p>
                            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="box" data-image="3">
                        <div class="inner-box">
                            <h4>LoanLift's strategies for enhancing loan accessibility</h4>
                            <span>Business</span>
                            <p>Client name : Streamlined Application </p>
                            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="box" data-image="4">
                        <div class="inner-box">
                            <h4>A deep dive into loanLift's innovative mortgage solutions</h4>
                            <span>Personal</span>
                            <p>Client name : Quick Solutions</p>
                            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <div class="box image-1">
                        <img src="{% static 'images/case-study1.jpg' %}">
                    </div>
                    <div class="box image-2">
                        <img src="{% static 'images/case-study-2.jpg' %}">
                    </div>
                    <div class="box image-3">
                        <img src="{% static 'images/case-study-3.jpg' %}">
                    </div>
                    <div class="box image-4">
                        <img src="{% static 'images/case-study-4.jpg' %}">
                    </div>
                </div>
            </div>

        </div>
        <div class="Sub-Container6">
            <div class="up">
                <div class="head">
                    <div class="process">
                        <p>Our Team</p>
                    </div>
                    <div class="text">
                        <h6>
                            The team driving innovation and excellence in financial services
                        </h6>
                    </div>
                </div>

            </div>
            <div class="low">
                <div class="outbox">
                    <img src="{% static 'images/team-1.png' %}">
                    <div class="inbox">
                        <h5>Joan Johnson</h5>
                        <p>Chief Financial Officer</p>
                        <div class="socials">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="outbox">
                    <img src="{% static 'images/team-2.jpg' %}">
                    <div class="inbox">
                        <h5>Donnie Southern</h5>
                        <p>Head Of Operation</p>
                        <div class="socials">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="outbox">
                    <img src="{% static 'images/team-3.jpg' %}">
                    <div class="inbox">
                        <h5>Alexandra Southern</h5>
                        <p>Loan Consultant</p>
                        <div class="socials">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="outbox">
                    <img src="{% static 'images/team-4.jpg' %}">
                    <div class="inbox">
                        <h5>Jessica White</h5>
                        <p>Credit Manager</p>
                        <div class="socials">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>

        </div>
        <div class="Sub-Container7">
            <div class="inner">
                <div class="more">
                    <div class="left">
                        <img src="{% static 'images/blog-three-1.jpg' %}">

                    </div>
                    <div class="right">
                        <div class="thing">
                            <div class="top">
                                <div class="head">
                                    <p>Success Story</p>
                                </div>
                                <h6>Customer experiences with us</h6>

                            </div>
                            <div class="bottom">
                                <div class="c1" id="11">
                                    <div class="hed">
                                        <p>
                                            The process with Loanlift was incredibly smooth. From signing the agreement
                                            to
                                            completing the documentation, their team made sure everything was clear and
                                            easy to
                                            follow. I felt supported every step of the way.Working with Loanlift was a
                                            breeze!
                                            Their expert guidance made the paperwork simple.
                                        </p>

                                    </div>
                                    <div class="bott">
                                        <div class="innn">


                                            <div class="text">
                                                <img src="{% static 'images/testimonial-1.png' %}">
                                                <div class="cont">

                                                    <h4>Emily Martin</h4>
                                                    <p>Satisfied client</p>
                                                </div>

                                            </div>
                                            <div class="mo">

                                                <img src="{% static 'images/quote.png' %}">
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="c1" id="22">
                                    <div class="hed">
                                        <p> Signing the agreement and completing the documentation with Loanlift
                                            was seamless and straightforward. Their team guided me through every step,
                                            ensuring
                                            I understood all the details. I felt confident and well-informed throughout
                                            the
                                            entire
                                            process.
                                        </p>

                                    </div>
                                    <div class="bott">
                                        <div class="innn">


                                            <div class="text">
                                                <img src="{% static 'images/testimonial-2.png' %}">
                                                <div class="cont">

                                                    <h4>Michale Smith</h4>
                                                    <p>Satisfied client</p>
                                                </div>

                                            </div>
                                            <div class="mo">

                                                <img src="{% static 'images/quote.png' %}">
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="c1" id="33">
                                    <div class="hed">
                                        <p>
                                            The agreement process with Loanlift was hassle-free and efficient. Their
                                            team ensured
                                            I understood every detail and made the documentation straightforward, giving
                                            me
                                            confidence throughout the entire journey, Loanlift’s team made the entire
                                            agreement
                                            and documentation process seamless.
                                        </p>

                                    </div>
                                    <div class="bott">
                                        <div class="innn">


                                            <div class="text">
                                                <img src="{% static 'images/testimonial-3.png' %}">
                                                <div class="cont">

                                                    <h4>Brian Clark</h4>
                                                    <p>Satisfied client</p>
                                                </div>

                                            </div>
                                            <div class="mo">

                                                <img src="{% static 'images/quote.png' %}">
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="c1" id="44">
                                    <div class="hed">
                                        <p>
                                            Loanlift made the entire loan process incredibly easy. Their team walked me
                                            through
                                            every step, ensuring I understood all the terms. I felt completely confident
                                            and
                                            well-supported throughout the process, Loanlift made the entire loan process
                                            incredibly easy.
                                        </p>

                                    </div>
                                    <div class="bott">
                                        <div class="innn">


                                            <div class="text">
                                                <img src="{% static 'images/testimonial-4.png' %}">
                                                <div class="cont">

                                                    <h4>Ashley Harris</h4>
                                                    <p>Satisfied client</p>
                                                </div>

                                            </div>
                                            <div class="mo">

                                                <img src="{% static 'images/quote.png' %}">
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="button">
                                <ul>
                                    <li><a href="#11"><img width="24" height="24"
                                                src="https://img.icons8.com/material-rounded/24/FFFFFF/full-stop.png"
                                                alt="full-stop"></a></li>
                                    <li><a href="#22"><img width="24" height="24"
                                                src="https://img.icons8.com/material-rounded/24/FFFFFF/full-stop.png"
                                                alt="full-stop"></a></li>
                                    <li><a href="#33"><img width="24" height="24"
                                                src="https://img.icons8.com/material-rounded/24/FFFFFF/full-stop.png"
                                                alt="full-stop"></a></li>
                                    <li><a href="#44"><img width="24" height="24"
                                                src="https://img.icons8.com/material-rounded/24/FFFFFF/full-stop.png"
                                                alt="full-stop"></a></li>

                                </ul>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="Sub-Container8">
            <div class="inner">
                <div class="contt">
                    <div class="left">
                        <div class="title">
                            <p>
                                We build trust with our customers by combining creativity with tailored business
                                loan solutions.
                            </p>

                        </div>
                        <div class="view-btn">
                            <a href="{% url 'contact' %}">
                                Contact us
                                <i class="fa-solid fa-arrow-right arrow"></i>
                            </a>
                        </div>

                    </div>
                    <div class="right">
                        <img src="{% static 'images/cta-Logo.png' %}">

                    </div>

                </div>

            </div>

        </div>
        <div class="Sub-Container9">
            <div class="one">
                <div class="left">
                    <div class="about">
                        <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a>
                    </div>
                    <div class="about-details">
                        <p>Contact us loanlift and collaborate with us for making you Big dream business with our
                            best loan services</p>
                    </div>
                    <div class="contact-us">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <a href="">
                                    <img width="25" height="25"
                                        src="https://img.icons8.com/ios/25/FFFFFF/filled-message.png"
                                        alt="filled-message" /> help@company.com
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img width="25" height="25" src="https://img.icons8.com/ios/25/FFFFFF/phone--v1.png"
                                        alt="phone--v1" />
                                    +1.098.456.11
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="imgg">
                <div class="content">
                    <div class="right">
                        <div class="service d-flex">
                            <div class="mg-sides">
                                <h3>Services</h3>
                                <li>
                                    <a href="{% url 'personal' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        Personal Loans
                                    </a>
                                </li>
                                <li class="mg-top">
                                    <a href="{% url 'business' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        Business Loans
                                    </a>
                                </li>
                                <li class="mg-top">
                                    <a href="{% url 'mortgage' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        Mortgage Loans
                                    </a>
                                </li>
                                <li class="mg-top">
                                    <a href="{% url 'emergency' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        Emergency Loans
                                    </a>
                                </li>
                                <li class="mg-top">
                                    <a href="{% url 'student' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        Student Loans
                                    </a>
                                </li>
                                <li class="mg-top">
                                    <a href="{% url 'small' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        Small Business Loans
                                    </a>
                                </li>
                            </div>
                        </div>
                        <div class="page d-flex">
                            <div class="mg-sides">
                                <h3>Page</h3>
                                <li>
                                    <a href="{% url 'about' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        About Us
                                    </a>
                                </li>
                                <li class="mg-top">
                                    <a href="{% url 'meet' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        FAQs
                                    </a>
                                </li>
                                <li class="mg-top">
                                    <a href="{% url 'careers' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        Careers
                                    </a>
                                </li>
                                <li class="mg-top">
                                    <a href="{% url 'apply' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        Apply a Loan
                                    </a>
                                </li>
                                <li class="mg-top">
                                    <a href="{% url 'contact' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        Contact Us
                                    </a>
                                </li>
                                <li class="mg-top">
                                    <a href="{% url 'meet' %}">
                                        <img width="25" height="25"
                                            src="https://img.icons8.com/ios-glyphs/25/FFFFFF/forward.png"
                                            alt="forward" />
                                        Meet The Team
                                    </a>
                                </li>
                            </div>
                        </div>
                        <div class="subscribe">
                            <h3>Subscribe</h3>
                            <p>Stay up-to-date with the latest trends in digital marketing and receive exclusive tips
                                and insights by subscribing to our newsletter.</p>
                            <form action="">
                                <input type="email" placeholder="Your Email Address">
                                <button type="submit">
                                    <a href="">
                                        Subscribe
                                        <i class="fa-solid fa-arrow-right arrow"></i>
                                    </a>
                                </button>
                            </form>
                            <div class="icons">
                                <h3>Social Icons</h3>
                                <div class="socials">
                                    <a href=""><img width="30" height="30"
                                            src="https://img.icons8.com/material-two-tone/30/FFFFFF/facebook-f--v2.png"
                                            alt="facebook-f--v2" /></a>
                                    <a href=""><img width="30" height="30"
                                            src="https://img.icons8.com/material-outlined/30/FFFFFF/instagram-new--v1.png"
                                            alt="instagram-new--v1" /></a>
                                    <a href=""><img width="30" height="30"
                                            src="https://img.icons8.com/ios-glyphs/30/FFFFFF/linkedin-2--v1.png"
                                            alt="linkedin-2--v1" /></a>
                                    <a href=""><img width="30" height="30"
                                            src="https://img.icons8.com/ios-filled/30/FFFFFF/twitter.png"
                                            alt="twitter" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="foott">
            <div class="lll">
                <div class="mmm">
                    <p>© Copyright loanEase. All rights reserved by Harsimran Kaur</p>
                </div>
                <div class="nnn">
                    <ul>
                        <li><a href="{% url 'term' %}">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>