.cardcontainer .card img{
    height:331px;
    width: 423px;
    display: block;
    object-fit: cover;
}
.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 80px;
}
.cardcontainer .card .date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #061525;
}
.card .date p{
    color: white;
    padding:14px 5px;
}
.card .text p{
    padding:20px;
    font-size: 16px;
}