

.sub1 {
    height: 640px;
    background-color: white;
    width: 100%;
}

.ourservice {
    height: 35px;
    width: 200px;
    padding-top: 5px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 2.2px;
    font-size: 13px;
    font-weight: 450;
    display: inline-block;
    margin-bottom: 18px;
}

.headbox {
    height: 244px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.head2-sub1 {
    height: 160px;
    width: 800px;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

.sub1 .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px;
}

.sub1 .text {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.sub1 img {
    width: 642px;
}

.text1 .head {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.text1 h2 {
    font-size: 26px;
}

.text1 .head img {
    width: 50px;
}

.text1 p {
    margin-top: 15px;
    width: 300px;
}

.sub2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.sub2 .card {
    background-color: #051327;
    padding: 35px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.sub2 .card h2 {
    color: white;
    padding-bottom: 18px;
    font-size: 26px;
}

.sub2 .card p {
    width: 360px;
    text-align: left;
    color: rgb(178, 178, 178);
    padding-top: 15px;
    line-height: 1.5;
    font-size: 17px;
}

.sub2 .card h3 {
    color: white;
    margin-top: 15px;
    font-size: 26px;
    font-weight: 500;
}

.card .icons i {
    background-color: white;
    margin-right: 18px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 12px;
}

.formm {
    background-color: #F2F4F8;
    justify-content: center;
    display: flex;
    margin-left: 70px;
}

.formm form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.formm input,
.formm select,
.formm textarea {
    padding-top: 15px;
    width: 800px;
    margin: 15px 40px;
    border: none;
    border-bottom: 1px solid rgb(173, 172, 172);
    padding-bottom: 10px;
    background-color: transparent;
    font-size: 16px;
}

.formm select,
.formm select option {
    color: #7b7b7b;
}

.formm input:focus,
.formm select:focus,
.formm textarea:focus {
    outline: none;
}

.formm textarea {
    font-family: "DM Sans", system-ui;
    font-size: 17px;
}
