/* Responsive Styles */
@media (max-width: 900px) {
    .container {
        min-height: 500px;
        padding: 10px;
    }
    .box {
        width: 90vw;
        padding: 15px;
    }
    .head h2 {
        font-size: 28px;
    }
    .form2, .btn {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .container {
        min-height: 300px;
        padding: 2px;
    }
    .box {
        width: 98vw;
        padding: 8px;
    }
    .head h2 {
        font-size: 20px;
    }
    .form2, .btn {
        width: 100%;
        font-size: 14px;
    }
    .form input {
        width: 90vw;
    }
}
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-image: url("../images/login.jpg");
    background-size: cover;
    min-height: 729px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border: 1px solid white;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    padding: 30px;
    text-align: center;
    width: 350px;
    height: 380px;
    justify-content: center;
   align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.head {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.head h2{
    color: white;
    font-size: 40px;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:10px 15px;
}
.form input{
    padding: 10px;
    border: none;
    border-radius: 20px;
    width:300px;
}

.form2{
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    width: 320px;
}
.form2 label{
    color: white;
}
.form2 a{
    color:white;
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    padding:10px 0px;
}
.btn button{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 140px;
}
.btn a{
    text-decoration: none;
    color:black;
    font-size: 14px;
    letter-spacing: 1px;
}
.foot{
    padding: 10px 0px;
}
.foot p{
    color: white;
}
.foot a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}